
.body-container{
  position: relative;
  width: 1440px;
  height: 3430px;
  background: #FFFFFF;
}
.cirlce{
  position: absolute;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #0029FF;
  margin: 20px 80px;
}

.home-icon{
  position: absolute;
  margin: 35px 1133px;
}

.home-setting{
  position: absolute;
  margin: 40px 1190px;
}

.home-notification{
  position: absolute;
  margin: 45px 1240px;
}


.home-dots{
  position: absolute;
  margin: 45px 1356px;
}
.home-profile{
  position: absolute;
  margin: 40px 1292px;
}

.home{
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #0029FF;
  margin: 30px 1113px;
}

.demo {
  font-family: 'system-ui';
  font-style: normal;
  width: '100%';
  text-align: center;
  font-size: 20px;
  margin-top: 44px;
  color: #000000;
}

.task1 {
  font-family: 'system-ui';
  font-style: normal;
  width: '100%';
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  color: #FFFFFF;
}

.task2 {
  font-family: 'system-ui';
  font-style: normal;
  width: '100%';
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  color: #FFFFFF;
}

.task3 {
  font-family: 'system-ui';
  font-style: normal;
  width: '100%';
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  color: #FFFFFF;
}

.task4 {
  font-family: 'system-ui';
  font-style: normal;
  width: '100%';
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  color: #FFFFFF;
}

.task7 {
  font-family: 'system-ui';
  font-style: normal;
  width: '100%';
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  color: #FFFFFF;
}

.task8 {
  font-family: 'system-ui';
  font-style: normal;
  width: '100%';
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  color: #FFFFFF;
}

.task9 {
  font-family: 'system-ui';
  font-style: normal;
  width: '100%';
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  color: #FFFFFF;
}

.next {
  font-family: 'system-ui';
  font-style: normal;
  width: '100%';
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
  color: #FFFFFF;
}



.deep{
  position: absolute;
  width: 73px;
  height: 22px;
  left: 148px;
  top: 20px;
  font-family: 'system-ui';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 45px;
  color: #000000;
}



.thought{
  position: absolute;
  width: 159px;
  height: 24px;
  left: 272px;
  top: 20px;
  font-family: 'system-ui';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 45px;
  color: #0029FF;
}

.head-container{
position: absolute;
width: 1440px;
height: 90px;
left: 0px;
top: 0px;
background: #F0F0F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }

.main-container{
  position: absolute;
  width: 1136px;
  height: 51px;
  left: 177px;
  top: 222px;
  background: #0029FF;
  border-radius: 10px 10px 0px 0px;

}

.main-bottom-container{
box-sizing: border-box;
position: absolute;
width: 1136px;
height: 2849px;
left: 177px;
top: 273px;
background: #FFFFFF;
border: 1px solid #F0F0F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.task1-container{
  position: absolute;
  width: 461px;
  height: 40px;
  left: 66px;
  top: 130px;
  background: #000000;
  border-radius: 10px 10px 0px 0px;
}

.task1-bottom-container{
  box-sizing: border-box;
  position: absolute;
  width: 461px;
  height: 190px;
  left: 66px;
  top: 170px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.task2-container{
  position: absolute;
  width: 448px;
  height: 40px;
  right: 97px;
  top: 130px;
  background: #000000;
  border-radius: 10px 10px 0px 0px;
}

.task2-bottom-container{
  box-sizing: border-box;
  position: absolute;
  width: 448px;
  height: 587px;
  right: 97px;
  top: 170px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.task4-container{
  position: absolute;
  width: 452px;
  height: 40px;
  right: 97px;
  top: 780px;
  background: #000000;
  border-radius: 10px 10px 0px 0px;
}

.task4-bottom-container{
  box-sizing: border-box;
  position: absolute;
  width: 452px;
  height: 612px;
  right: 97px;
  top: 820px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.task3-container{
  position: absolute;
  width: 456px;
  height: 40px;
  left: 66px;
  top: 780px;
  background: #000000;
  border-radius: 10px 10px 0px 0px;
}

.task3-bottom-container{
  box-sizing: border-box;
  position: absolute;
  width: 456px;
  height: 282px;
  left: 66px;
  top: 820px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.task7-container{
  position: absolute;
  width: 452px;
  height: 40px;
  left: 66px;
  top: 1462px;
  background: #000000;
  border-radius: 10px 10px 0px 0px;
}

.task7-bottom-container{
  box-sizing: border-box;
  position: absolute;
  width: 452px;
  height: 811px;
  left: 66px;
  top: 1502px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.task8-container{
  position: absolute;
  width: 472px;
  height: 40px;
  right: 73px;
  top: 1462px;
  background: #000000;
  border-radius: 10px 10px 0px 0px;
}

.task8-bottom-container{
  box-sizing: border-box;
  position: absolute;
  width: 472px;
  height: 222px;
  right: 73px;
  top: 1502px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.task9-container{
  position: absolute;
  width: 498px;
  height: 40px;
  right: 319px;
  top: 2430px;
  background: #000000;
  border-radius: 10px 10px 0px 0px;
}

.task9-bottom-container{
  box-sizing: border-box;
  position: absolute;
  width: 498px;
  height: 345px;
  right: 319px;
  top: 2470px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-container{
  position: absolute;
  width: 96px;
  height: 40px;
  left: 0px;
  top: 205px;
  background: #000000;
  border-radius: 0px 10px 0px 0px;
}

.menu-bottom-container{
  box-sizing: border-box;
  position: absolute;
  width: 96px;
  height: 827px;
  left: 0px;
  top: 245px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-toggler{
    position:absolute;
    height: 40px;
    left:30px;
    top:1px;
  }

.YouAreTaking{
  width: '100%';
  font-size: 25px;
  margin-top: 10px;
  margin-left: 20px;
  color: #FFFFFF;
}


.next-container{
  position: absolute;
  width: 90px;
  height: 77px;
  right: 144px;
  top: 3189px;
  background: #0029FF;
  border-radius: 5px 5px 5px 5px;
}
